/* big card -------------------------------------------------------------------------------------------------------*/

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.card {
    width: 150vmin;
    height: 55vmin;
    display: flex;
    box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    border-radius: 10px;
}
.card__img {
    background-position: center;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#img1 {

    background-image: url("../img/programin-6f.gif");
    border-radius:10px;
    display: flex;
}

.card__content {
    position: absolute;
    right: 0%;
    padding: 10% 5%;
    box-sizing: border-box;
    width: 40%;
}
.card__content-theme {
    font-weight: 900;
    font-size: 1.7vmin;
}
.card__content-header {
    font-weight: 900;
    font-size: 54px;
    font-size: 7vmin;
    text-transform: capitalize;
    letter-spacing: 0.01em;
    line-height: 0.91;
    margin: 3vmin 0 3.5vmin;
}
.card__content-paragraph {
    font-size: 1.6vmin;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 2.5vmin;
}
.card__content-link {
    color: #ba3428;
    font-size: 1.8vmin;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.card__content-link:hover {
    opacity: 1;
}
.card__content-link:after {
    content: ' →';
}
.prevnext {
    position: absolute;
    width: 4vmin;
    height: 8vmin;
    right: 2%;
    bottom: 0;
    top: 0;
    margin: auto 0;
}
.prevnext-button {
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
}
#prev, #next {
    position: relative;
    cursor: pointer;
}
#prev:hover:after, #next:hover:after, #prev:hover:after, #next:hover:after {
    opacity: 1;
}
#prev:after, #next:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
#prev:after {
    content: '↑';
}
#next:after {
    content: '↓';
}



/* animate cards--------------------------------------------------------------------------------------------------------------------------*/


.flip {
    margin: none;
    position: relative;
    box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    cursor: pointer;
}
.flip > .front, .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}
.flip > .front {
    transform: rotateY(0deg);
}
.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}
.flip:hover > .front {
    transform: rotateY(180deg);
}
.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 270px;
}
.flip > .front, .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 180px;
    padding: 1em 1em;
    background: #313131;
    border-radius: 10px;
}
.flip > .front p, .flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}
.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}




/* small card--------------------------------------------------------------------------------------------------------------*/

.slide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.card2 {
    width: 120vmin;
    height: 25vmin;
    display: flex;
    box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    border-radius: 10px;
}
.card__img2 {
    background-position: center;
    width: 30%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#img12 {

    background-image: url("../img/1.png");
    border-radius:10px;
    display: flex;
    background-size: cover;
}

#img13 {

    background-image: url("../img/2.png");
    border-radius:10px;
    display: flex;
    background-size: cover;
}

#img14 {

    background-image: url("../img/3.png");
    border-radius:10px;
    display: flex;
    background-size: cover;
}

.card__content2 {
    position: absolute;
    right: 0%;

    box-sizing: border-box;
    width: 55%;
}
.card__content-theme2 {
    font-weight: 900;
    font-size: 1.7vmin;
}
.card__content-header2 {
    position: relative;
    font-weight: 900;
    font-size: 24px;
    font-size: 4vmin;
    text-transform: capitalize;
    letter-spacing: 0.01em;
    line-height: 0.91;
    margin: 3vmin 0 3.5vmin;
}
.card__content-paragraph2 {
    font-size: 2.2vmin;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 2.5vmin;
}
.card__content-link2 {
    color: #ba3428;
    font-size: 1.8vmin;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.card__content-link2:hover {
    opacity: 1;
}
.card__content-link2:after {
    content: ' →';
}
.prevnext2 {
    position: absolute;
    width: 4vmin;
    height: 8vmin;
    right: 2%;
    bottom: 0;
    top: 0;
    margin: auto 0;
}
.prevnext-button2 {
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
}
#prev2, #next2 {
    position: relative;
    cursor: pointer;
}
#prev2:hover:after, #next2:hover:after, #prev2:hover:after, #next2:hover:after {
    opacity: 1;
}
#prev2:after, #next2:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
#prev2:after {
    content: '↑';
}
#next2:after {
    content: '↓';
}
