@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500|Montserrat|Lato);





 div.content-container .content .form-container {
     position: relative;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-start;
	 align-items: center;
	 background-color: #fff;
     box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.123);
	 width: 30%;
     height: 68%;
     margin-top: 8%;
     margin-bottom: 15%;
     margin-left: 32%;
     border-radius: 10px;
}
 div.content-container .content .form-container .title {
	 height: 130px;
	 color: #a6a6a7;
	 font: 24px Montserrat;
	 display: flex;
	 align-items: center;
}
 div.content-container .content .form-container .inputs-container {

	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: auto;
}
 div.content-container .content .form-container .inputs-container .row {
	 display: flex;
	 width: 80%;
	 padding-bottom: 15px;
}
 div.content-container .content .form-container .inputs-container .row .left {
	 display: flex;
	 align-items: center;
	 width: 90px;
	 height: 38px;
	 justify-content: flex-end;
	 margin-right: 20px;
	 color: #26333e;
	 font: 700 15px Lato;
	 text-transform: uppercase;
}
 div.content-container .content .form-container .inputs-container .row .right {
	 display: flex;
	 flex-direction: column;
	 width: 280px;
     color: #6f6f72fd;
	 align-items: flex-end;
}

 div.content-container .content .form-container .inputs-container .row .right .input {
	 height: 38px;
	 padding-left: 20px;
	 width: 240px;
	 color: #2d3b48;
	 font: 14px Montserrat;
	 background-color: #ededed;
	 border-radius: 4px;
	 border: 1px solid #dcdfdf;
}
 div.content-container .content .form-container .inputs-container .button-container {
	 display: flex;
	 justify-content: center;
}
 div.content-container .content .form-container .inputs-container .button-container button {
	 width: 101px;
	 height: 40px;
	 border: 0;
	 border-radius: 4px;
	 background-color: #00bfc3;
	 color: #fff;
	 font: 300 12px Montserrat;
     margin-bottom: 15px;
}



